* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
/* ------------------------------ Header ------------------------------- */
header {
  background: linear-gradient(
    245.49deg,
    #f5e050 0%,
    #fce205 50%,
    #fce205 75.52%
  );
  width: 100vw;
}
a {
  color: #131212;
}
/* Navbar */
.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-content {
  height: 10vh;
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-brand p {
  font-family: "Griffy", system-ui;
  font-weight: 700;
  font-size: 1.8em;
  font-style: normal;
  color: #8c6e63;
}
.nav-list ul {
  width: 25vw;
  display: flex;
  justify-content: space-between;
}
.nav-list ul li {
  transition: 0.4s ease-in;
}
.nav-list ul li:hover {
  padding: 3%;
  border-radius: 10px;
  background-color: #8c6e63;
}
.nav-list ul li a {
  /* color: #faf5ef; */
  color: #775d54;
  position: relative;
}
.nav-list ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #faf5ef;
  border-radius: 5px;
  transform: scale(0);
  transition: all 0.6s ease;
}
.nav-list ul li a::before {
  bottom: -20%;
  left: 0;
}
.nav-list ul li a:hover {
  color: #faf5ef;
}
.nav-list ul li a:hover::before {
  transform: scale(1);
}
#menu-icon {
  color: #8c6e63;
  font-size: 1.5em;
  z-index: 10001;
  display: none;
  cursor: pointer;
}
/* --------------------------------------- Main ----------------------------------- */
.container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scene {
  width: 500px;
  height: 500px;
  perspective: 1000px;
  position: relative;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}
.cube-face {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px solid rgba(221, 47, 47, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.font {
  transform: translateZ(250px);
}
.back {
  transform: rotateY(180deg) translateZ(250px);
}
.right {
  transform: rotateY(90deg) translateZ(250px);
}
.left {
  transform: rotateY(-90deg) translateZ(250px);
}
.top {
  transform: rotateX(90deg) translateZ(250px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(250px);
}
.title {
  text-align: center;
  font-family: "Are You Serious", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}
.group-contact {
  width: 80%;
}
.group-contact form {
  display: grid;
}
.group-contact form input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0 18px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: vertical;
}
.group-contact form input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
.group-contact form button {
  width: 20%;
  padding: 8px;
  background-color: #ffe600;
  border: none;
  color: #8c6e63;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.group-contact form button:hover {
  background-color: #b3a700;
}
/* ----------------------------------------- footer --------------------------------------- */
footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control {
  gap: 0 30px;
}
.control summary {
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
}
.control button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 10px;
}
.control:hover button:not(:hover) {
  color: rgba(38, 40, 41, 0.377);
}
@media screen and (max-width: 1440px) {
  .nav-list ul {
    width: 35vw;
  }
  aside {
    width: 15%;
  }
  .scene {
    width: 350px;
    height: 350px;
  }
  .cube-face {
    width: 350px;
    height: 350px;
  }
  .title {
    font-size: 1.7rem;
  }
  .group-contact p {
    font-size: 0.8rem;
  }
  .group-contact form input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0 10px 0;
  }
  .group-contact form button {
    width: 20%;
    padding: 4px;
    background-color: #ffe600;
    font-size: 14px;
  }
  .font {
    transform: translateZ(175px);
  }
  .back {
    transform: rotateY(180deg) translateZ(175px);
  }
  .right {
    transform: rotateY(90deg) translateZ(175px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(175px);
  }
  .top {
    transform: rotateX(90deg) translateZ(175px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(175px);
  }
  .control summary {
    font-size: 1.3rem;
  }
  .control button {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1023px) {
  .nav-list ul {
    width: 45vw;
  }
}
@media screen and (max-width: 767px) {
  #menu-icon {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .nav-list ul {
    position: absolute;
    top: 10%;
    right: 0;
    width: 28vw;
    height: 18vh;
    background: #f1c04e;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    transition: all 0.55s ease;
  }
  .nav-list.open {
    display: block;
  }
  .scene {
    width: 300px;
    height: 300px;
  }
  .cube-face {
    width: 300px;
    height: 300px;
  }
  .title {
    font-size: 1.5rem;
  }
  .group-contact p {
    font-size: 0.5rem;
  }
  .group-contact form input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0 10px 0;
  }
  .group-contact form button {
    width: 20%;
    padding: 4px;
    background-color: #ffe600;
    font-size: 14px;
  }
  .font {
    transform: translateZ(150px);
  }
  .back {
    transform: rotateY(180deg) translateZ(150px);
  }
  .right {
    transform: rotateY(90deg) translateZ(150px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(150px);
  }
  .top {
    transform: rotateX(90deg) translateZ(150px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(150px);
  }
  .control summary {
    font-size: 1rem;
  }
  .control button {
    font-size: 1rem;
  }
}
